In [50]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Parametros
#qtd 'n' de linhas (registros)

In [40]:
qtd =500
url = "https://randomuser.me/api/?results={}".format(qtd)

In [ ]:
#coletar dados da API

In [18]:
dft = requests.get(url)

In [19]:
x = dft.json()

In [20]:
df = pd.DataFrame(x['results'])

In [ ]:
#salvar o resultado em um arquivo CSV

In [59]:
df.to_csv('randomuser.csv', sep=',', encoding='utf-8')

In [58]:
df.head(10)

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Antoine', 'last': 'V...","{'street': {'number': 1403, 'name': 'Avenue Go...",antoine.vidal@example.com,{'uuid': '1f621168-ce40-4d35-998c-8112bb6d5f00...,"{'date': '1949-02-25T06:59:11.755Z', 'age': 73}","{'date': '2004-04-11T06:52:36.289Z', 'age': 18}",04-73-83-90-08,06-33-59-32-12,"{'name': 'INSEE', 'value': '1490179258554 39'}",{'large': 'https://randomuser.me/api/portraits...,FR
1,male,"{'title': 'Mr', 'first': 'Robbin', 'last': 'Dağ'}","{'street': {'number': 3788, 'name': 'Geesterwa...",robbin.dag@example.com,{'uuid': '58f6314c-f38d-4897-a7c2-769347cf6bc0...,"{'date': '1961-05-25T11:11:25.246Z', 'age': 61}","{'date': '2012-10-27T15:31:04.187Z', 'age': 10}",(0524) 521150,(06) 72790731,"{'name': 'BSN', 'value': '42058072'}",{'large': 'https://randomuser.me/api/portraits...,NL
2,female,"{'title': 'Mrs', 'first': 'Kerttu', 'last': 'L...","{'street': {'number': 1395, 'name': 'Reijolank...",kerttu.lakso@example.com,{'uuid': '8231489a-ab28-42f3-b847-942180cb3ce1...,"{'date': '1977-03-27T06:02:40.538Z', 'age': 45}","{'date': '2003-02-16T20:07:54.679Z', 'age': 20}",05-938-012,040-689-56-53,"{'name': 'HETU', 'value': 'NaNNA064undefined'}",{'large': 'https://randomuser.me/api/portraits...,FI
3,male,"{'title': 'Monsieur', 'first': 'Laurin', 'last...","{'street': {'number': 4235, 'name': 'Rue de L'...",laurin.gonzalez@example.com,{'uuid': '27418d1c-4434-4897-9976-7c2b4b81fcc4...,"{'date': '1994-11-09T06:40:54.108Z', 'age': 28}","{'date': '2020-04-03T01:40:32.071Z', 'age': 2}",079 526 58 52,075 123 39 60,"{'name': 'AVS', 'value': '756.6964.5601.53'}",{'large': 'https://randomuser.me/api/portraits...,CH
4,female,"{'title': 'Miss', 'first': 'Florence', 'last':...","{'street': {'number': 1632, 'name': 'Queens Ro...",florence.austin@example.com,{'uuid': '9351b90f-7f6d-4124-9ace-9b850a82386f...,"{'date': '1952-04-19T18:43:14.520Z', 'age': 70}","{'date': '2006-10-02T05:42:29.369Z', 'age': 16}",016977 4098,07285 125978,"{'name': 'NINO', 'value': 'XA 64 16 30 X'}",{'large': 'https://randomuser.me/api/portraits...,GB
5,male,"{'title': 'Mr', 'first': 'Théodore', 'last': '...","{'street': {'number': 3867, 'name': 'Avenue Va...",theodore.garcia@example.com,{'uuid': 'bbc0d25f-6522-468e-aee3-f94a9d830234...,"{'date': '2001-01-30T10:35:33.201Z', 'age': 22}","{'date': '2004-06-22T17:47:57.712Z', 'age': 18}",04-64-34-06-65,06-76-98-02-77,"{'name': 'INSEE', 'value': '11010055876637 02'}",{'large': 'https://randomuser.me/api/portraits...,FR
6,male,"{'title': 'Mr', 'first': 'Ranbir', 'last': 'Al...","{'street': {'number': 2258, 'name': 'Janpath'}...",ranbir.almeida@example.com,{'uuid': '90afa69a-0295-4686-8062-abc3e1dd0fe7...,"{'date': '1965-09-09T06:20:58.261Z', 'age': 57}","{'date': '2012-04-20T16:23:26.687Z', 'age': 10}",8563471181,9838244669,"{'name': 'UIDAI', 'value': '749187599198'}",{'large': 'https://randomuser.me/api/portraits...,IN
7,male,"{'title': 'Mr', 'first': 'Mason', 'last': 'Cook'}","{'street': {'number': 6047, 'name': 'Kingsway'...",mason.cook@example.com,{'uuid': 'f12330b7-0617-441c-9973-5cd7c595eb89...,"{'date': '1952-02-27T19:35:42.782Z', 'age': 70}","{'date': '2006-08-17T21:10:59.203Z', 'age': 16}",013873 51704,07786 293819,"{'name': 'NINO', 'value': 'ZG 68 61 28 N'}",{'large': 'https://randomuser.me/api/portraits...,GB
8,male,"{'title': 'Mr', 'first': 'Ratimir', 'last': 'D...","{'street': {'number': 1448, 'name': 'Batlavska...",ratimir.dincic@example.com,{'uuid': '636fa342-a6bc-4581-aeb6-0c3f9deea577...,"{'date': '1971-07-10T21:06:15.810Z', 'age': 51}","{'date': '2020-05-17T21:32:26.382Z', 'age': 2}",033-2151-432,064-5945-258,"{'name': 'SID', 'value': '228780604'}",{'large': 'https://randomuser.me/api/portraits...,RS
9,male,"{'title': 'Mr', 'first': 'Joel', 'last': 'Keto'}","{'street': {'number': 9467, 'name': 'Hämeenkat...",joel.keto@example.com,{'uuid': '5a5bbbfe-c571-4ed2-838b-e729019d98ee...,"{'date': '1961-10-13T21:42:16.393Z', 'age': 61}","{'date': '2021-02-09T11:38:35.943Z', 'age': 2}",03-696-696,041-955-33-90,"{'name': 'HETU', 'value': 'NaNNA059undefined'}",{'large': 'https://randomuser.me/api/portraits...,FI

In [ ]:
#padronizando formato de telefone e celular, transformá-los para um formato único, escolhido arbitrariament

In [61]:
#retirando de phone caracteres 'espaço' ( - )
p = df['phone'].replace('\(','',regex=True)
p = p.replace(' ','',regex=True)
p = p.replace('\)','',regex=True)
p = p.replace('-','',regex=True)
# substituindo phone com novo formato
df['phone'] = '(' + p.str[:3] + ')' + p.str[3:6] + '-' + p.str[6:11]

In [62]:
 '(' + p.str[:3] + ')' + p.str[3:6] + '-' + p.str[6:11]

0     (047)383-9008
1     (052)452-1150
2       (059)380-12
3     (079)526-5852
4     (016)977-4098
5     (046)434-0665
6     (856)347-1181
7    (013)873-51704
8     (033)215-1432
9       (036)966-96
Name: phone, dtype: object

In [37]:
#retirando de cell caracteres 'espaço' ( - )
c = df['cell'].replace('\(','',regex=True)
c = c.replace(' ','',regex=True)
c = c.replace('\)','',regex=True)
c = c.replace('-','',regex=True)
# substituindo cell com novo formato
df['cell'] = '(' + c.str[:3] + ')' + c.str[3:6] + '-' + c.str[6:11]

In [ ]:
#grupamento por gênero

In [67]:
#ordenar e contagem por gênero
df.sort_values(['gender'])
df.groupby(df['gender']).agg({'gender':'count'})

        gender
gender
female       2
male         8

In [ ]:
#grupamento por pais

In [70]:
#ordenar e contagem por pais
df.sort_values(['nat'])
df.groupby(df['nat']).agg({'nat':'count'})

     nat
nat
CH     1
FI     2
FR     2
GB     2
IN     1
NL     1
RS     1

0     (047)383-9008
1     (052)452-1150
2       (059)380-12
3     (079)526-5852
4     (016)977-4098
5     (046)434-0665
6     (856)347-1181
7    (013)873-51704
8     (033)215-1432
9       (036)966-96
Name: phone, dtype: object

In [63]:
df.sort_values(['gender'])
sex = df.groupby(df['gender']).agg({'name':'count'})

In [53]:
sex = df.groupby(df['gender']).agg({'name':'count'})

In [51]:
plt.plot(sex['gender'],sex['name'])

KeyError: 'gender'

In [57]:
sex

        name
gender
female     2
male       8